.divAdicionar{
    align-items: center;
    background-color: #111417;
    margin: 20px ;
    
  
    
    border-radius: 10px;
    /*height: 200px;*/
    transform: 0.2s;
   
  }
  .divAdicionar:hover{
    background-color: rgba(239, 225, 225, 0.066);
  }
  .textAreaDiv{



background-color:#111417;

margin-left: 35px;
margin-right: 20px;
width: 1440px;
resize: none;
border:none;
  }